.videoDiv {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* 標準の構文 */
  pointer-events: none; /* マウスイベントを無効にする */
}
